body{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}
a{
    color: none;
    text-decoration: none;
}
.nav_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
}
.nav_bar{
    width: 100%;
    max-height: 25%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-inline-start: 0;
}
.nav_image{
    width: 155px;
    height: 100%;
}
.nav_item{
    padding-bottom: 13px;
    padding-right: 20px;
   font-weight: 300;
    color: #4a4a4a;
}
.featured{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #3CDBC0;
    color: #ffffff;
    font-size: 30px;
    height: 100vh;
    margin-top: 135px;
}
.motto{
    font-weight: bold;
    text-align: center;
}


/*Responsive*/
@media all and (min-width:768px){
body{
    margin-top: 20px;
}
    .nav_container{
        position: static;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding-right: 30px;
    }
    .nav_bar{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 0px;
    }
    .nav_image{
        width: 155px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .nav_item{
        margin-right: 20px;
    }
    .motto{
        padding: 25%;
        font-size: 40px;
        font-weight: bold;
    }
    .featured{
        margin-top:0;    }
}