body{
    font-size: 16px;
}
.nav_bar{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 2%;
    justify-content: flex-start;
    padding-inline-start: 0;
}
.nav_image{
    width: 155px;
    height: 100%;
    margin-bottom: 10px;
}
.nav_item{
    margin-bottom: 13px;
    margin-right: 20px;
    font-family: 'Rubik', sans-serif;
    color: #4a4a4a;
}
.nav_container{
    width: 155px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.featured{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #3CDBC0;
    color: #ffffff;
    font-size: 30px;
    height: 100vw;
}
.motto{
    box-sizing: border-box;
    padding: 25%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
}

/*Responsive*/
@media all and (min-width:768px){
    .nav_container{
        width: 100%;
        height: 20%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav_bar{
        margin-top: 3.5%;
        height: auto;
        margin-right: 30px;
        padding-inline-start: 0px;
    }
    .nav_image{
        width: 155px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .nav_item{
        margin-right: 20px;
    }
}
.footer{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    background-color: #3CDBC0;   
}